		body{background-color:white;  }
	
	.fa {
  font-size: 25px;padding: 5px; color: lightblue;
		
		
		
		
		
		
		@media (min-width: 0px) and (max-width:359px){
		.container4{width:330px;
		height: 525px;
		margin-bottom:20%}
			.container6{background-color:black; width:330px;}
			.container7{width:330px;}
			.container8{width:330px;}
			.container9{width:330px;}
		
		.ticketresize{ margin-top:-10px}
			.container{width: 125px; padding-left:15px; margin-left:20%; }	
			#reg{margin-left:10%;}
			
}
		@media (min-width: 359px) and (max-width:767px){
		.container4{width:350px;
		height: 525px;
		margin-bottom:20%}
		.ticketresize{ margin-top:-10px}
			.newregr{width: 125px; padding-left:15px; margin-left:20%; }
			#register{margin-left:10%;}
}



			
			
	
	@media (min-width: 768px) {
    .container4 {
        width: 500px;
    	height: 380px;
		}
			.ticketresize{ margin-top: 5px}
	.container{width: 800px; margin-left: 15%}	
		#register{margin-left:10%;}
}

	@media (min-width: 992px) {
    .container4 {
        width: 600px;
    	height: 380px;
		}
			.ticketresize{ margin-top: 5px}
.container{width: 800px; margin-left:20%}
		#register{margin-left:10%;}

}
	@media (min-width: 1200px) {
    .text{
        width: 800px;
		height: 380px;	
    }	.ticketresize{ margin-top: 5px}.container{width: 800px; margin-left:20%;}
		#register{margin-left:14%;}
		}}

		.optional{width:40px}	
			p {background-color: black;
					width: 75%;
				   color: white;	
			}
				.btn {background-color:  black;
					  color: white;
			}
				
		.container4{margin-left: 15%;}
		
		*{text-align:left;}
		h1{color:black}
		
		
		/*.optional{color:black}*/
		/*.container4{background-color:white; color:black;}
}