
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
#place-photo {
  position: relative;
  box-sizing: border-box;
}

/* Hide the images by default */
.place-images {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  padding: 16px;
  margin-top: 70px;
  color: #00aeef;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(255, 255, 255, 1);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  
}

